<html>
    <head>
        <title>Home page</title>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,500,700" rel="stylesheet">
        <link rel="stylesheet" href="/jquery-jvectormap-2.0.5.css"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="/jquery-jvectormap-2.0.5.min.js"></script>
    </head>

    <body>
        <p>Hello</p>
        <img src="/images/noun-africa-3354.png">
        <div clas="container">
            <div id="world-map" style="width: 600px; height: 400px;"></div>
        </div>
    </body>
</html>